* {
  margin: 0px;
  padding: 0px;
  
}

main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(41, 41, 41, 0.6), rgba(0, 0, 0, 0.6)), url("./public/assets/background-2.jpg"); 
}

.loginContainer {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(350px, 30%, 550px);
  border-radius: 20px;
  background: rgba(43, 43, 43, 0.8);
}

.loginContainer h1 { 
  margin-top: 50px;
  font-size: clamp(0.1em, 2.5em, 5em);
  color: rgb(255, 255, 255);
}

.loginContainer h2 {
  font-weight: lighter;
  color: rgb(214, 214, 214);
  margin-bottom: 10px;
}

.loginContainer h1, h2 {
  position: relative;
  display: block;
  left: 8%;
  font-family: sans-serif;
}

.loginContainer .inputForm a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  display: block;
  margin-top: 10px;
  left: 8%;
  transition: .5s;
}


.loginContainer .inputForm a:hover {
  color: rgb(202, 202, 202);
}

.loginContainer .inputForm input {
  display: block;
  margin-top: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  background: rgb(241, 241, 241);
  border: none;
  box-shadow: 1px 1px 1px 1px rgb(97, 97, 97);
  outline: none;
  padding: 20px 30px;
  border-radius: 15px;
  font-size: 15px;
}

.loginContainer .inputForm input::placeholder {
  color: rgb(92, 92, 92);
}

.loginContainer .inputForm button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(250px, 60%, 300px);
  padding: 20px 0;
  margin-top: 30px;
  border-radius: 5px;
  background-color: rgb(133, 255, 108);
  border: none;
  letter-spacing: 0.7px;
  font-size: 15px;
  font-weight: bold;
  color: #444;
  transition: .5s;
}

.loginContainer .inputForm button:hover {
  background-color: rgb(166, 255, 148);
}

.GoogleAndSteamForm {
  display: block;
  position: relative;
}


.SigninWithGoogle {
  position: relative;
  background: white;
  color: #444;
  border-radius: 5px;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  width: clamp(250px, 60%, 300px);
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0px 20px 0px;
  transition: .5s;  
}

.SigninWithGoogle:hover {
  background-color: rgb(230, 230, 230);
}

.SigninWithGoogle img {
  display: inline-block;
  width: 42px;
  padding: 10px clamp(20px, 25px, 30px) 10px 10px;
  vertical-align: middle;
}

.SigninWithGoogle .textContainer {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

.SigninWithSteam {
  position: relative;
  background: #1B2838;
  color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgb(17, 26, 36);
  white-space: nowrap;
  width: clamp(250px, 60%, 300px);
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
  margin-bottom: 40px;
}

.SigninWithSteam:hover {
  background-color: #18212c;
}

.SigninWithSteam img {
  display: inline-block;
  width: 42px;
  padding: 10px clamp(20px, 25px, 30px) 10px 10px;
  vertical-align: middle;
}

.SigninWithSteam .textContainer {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

.loginContainer .notAMember {
  text-align: center;
  margin-bottom: 30px;
}

.loginContainer .notAMember a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  transition: .5s;
}

.loginContainer .notAMember a:hover {
  color: rgb(202, 202, 202);
}

@media (max-width: 500px) {

  .loginContainer .inputForm input {
    width: 60%;
  }

  .loginContainer .inputForm a {
    left: 12%;
  }

  .loginContainer h1 {
    font-size: 2em;
    left: 12%;
  }

  .loginContainer h2 {
    font-size: 1em;
    left: 12%;
  }

  .loginContainer {
    background: none;
  }

  .GoogleAndSteamForm {
    display: inline-flex; /* Change to inline-flex to put buttons side by side */
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .SigninWithGoogle,
  .SigninWithSteam {
    position: static; /* Set the position back to static for regular flow */
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    margin: 0;
    width: min-content;
    left: 0;
    transform: translateX(0);
    margin: 20px 10px;
  }

  .SigninWithSteam img,
  .SigninWithGoogle img {
    padding: 0;
    background-color: none;
  }

  .SigninWithGoogle,
  .SigninWithSteam:hover {
    background: none;
  }

  /* Optionally, you can show the textContainer for accessibility purposes */
  .SigninWithSteam .textContainer,
  .SigninWithGoogle .textContainer {
    display: none;
  }
}
  
  



.navbar {
  background: rgb(43, 43, 43);
  position: absolute;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
}

.navbar .logo img {
  display: flex;
  width: 300px;
}

.navbar .nav-links ul {
  display: flex;
  align-items: center; /* Add this line to center the links vertically */
}

.navbar .nav-links ul li {
  margin: 0 25px;
  list-style: none;
  font-family: sans-serif;
}

.navbar .nav-links button {
  padding: 10px 20px;
  background-color: rgb(153, 255, 105);
  font-weight: bold;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
}

.navbar .menu-hamburger {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 30px 30px;

  height: 25px;
}

@media (max-width: 500px) {
  .navbar .menu-hamburger {
    display: block;
  }
  .nav-links {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.8);
    justify-content: center;
    backdrop-filter: blur(2px);
    align-items: center;
    margin-left: -100%;
    transition: all .5s;
  }

  .mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
  }
  .navbar .logo img {
    width: 200px;
    padding: 20px;
  }
  .navbar {
    background: rgba(32, 32, 32, 0.712);
    padding: 0;
  }
  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.5em;
  }
  .navbar .nav-links button {
    padding: 20px 40px;
  }
}